<div class="card" style="width: 25rem;">
  <div class="card-body">
    <h3 class="card-title">Стихи от Леры</h3>
    <h5 class="card-text">Спешу поздравить с днем рожденья<br>
      И пожелать от всей души<br>
      Здоровья, счастья и везенья,<br>
      Тепла, спокойствия внутри.<br><br>
      Пусть каждый день приносит радость,<br>
      Эмоции и доброту,<br>
      Пусть путешествия подарят<br>
      Мечты, добро и красоту!</h5>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>