<div class="card" style="width: 25rem;">
  <div class="card-body">
    <h3 class="card-title">Стихи от Мамы</h3>
    <h5 class="card-text">Дорогая доченька, поздравляю тебя с днём рождения.<br>
      Самое большое сокровище в моей жизни - это ты!<br>
      Я очень тебя люблю и горжусь тобой!<br>
      От всей души желаю тебе не знать в жизни огорчений,<br>
      Взаимно любить, быть счастливой каждый день,<br>
      Верить в чудо и никогда не унывать!<br>
      Красоты, терпения, мудрости, удачи, радости тебе, любимая моя!<br>
      И помни,что частичка моего сердца всегда с тобой!</h5>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>








