<div class="card card-landing" style="width: 25rem;">
  <div class="card-body">
    <h1 class="card-title">Стихи от Ромы и Светы</h1>
    <h3 class="card-text">Желаем искренних улыбок,<br>
      Желаем море добрых слов.<br>
      Пусть будет в каждом деле прибыль,<br>
      Удача, радость и любовь.<br><br>
      Пусть свет не покидает мысли,<br>
      И окружает теплота.<br>
      Здоровья век тебе и близким,<br>
      Без меры счастья навсегда.</h3>
  </div>
</div>


