<div class="card" style="width: 25rem;">
  <div class="card-body">
    <h3 class="card-title">Стихи от Ромы и Светы</h3>
    <h5 class="card-text">Желаем искренних улыбок,<br>
      Желаем море добрых слов.<br>
      Пусть будет в каждом деле прибыль,<br>
      Удача, радость и любовь.<br><br>
      Пусть свет не покидает мысли,<br>
      И окружает теплота.<br>
      Здоровья век тебе и близким,<br>
      Без меры счастья навсегда.</h5>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>


