<div class="card" style="width: 25rem;">
  <div class="card-body">
    <h3 class="card-title">Стихи от Саши и Егора</h3>
    <h5 class="card-text">Как много быть женой и просто мамой,<br>
      Как много отдавать себя другим!<br>
      Для нас ты остаешься самой-самой,<br>
      И мы тебя за всё благодарим.<br><br>
      Пускай всё будет, так как ты желаешь,<br>
      И кружится от счастья голова!<br>
      Живи печалей, горестей не зная,<br>
      И оставайся радостной всегда!</h5>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>